<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- 🏷️ Título de la pantalla de Onboarding -->
        <title>Login Screen</title>
    
        <!-- 🔖 Ícono del sitio web (favicon) -->
        <link rel="shortcut icon" href="../icons/restaurante.svg" type="image/x-icon">
    
        <!-- 🎨 Hoja de estilos principal -->
        <link rel="stylesheet" href="../styles/loginScreen.css">
    </head>
<body>
    <header>
        <div class="login-header">
            <a href="">
                <img src="../icons/backIconArrow.svg" alt="Back Icon" class="back-icon">
            </a>
            <h3>Login</h3>
            <a href="">
                <img src="../icons/darkModeIcon.svg" alt="Toogle Icon">
            </a>
        </div>
    </header>
    <main>
        <div class="content">
            <h3>Welcome</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="form-container">
                <div class="form-group">
                    <label for="email">Email or Mobile Number</label>
                    <input type="text" id="email" name="email" value="example@example.com">
                </div>
                <div class="form-group password-container" style="position: relative;">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" value="**********" style="padding: 4px;"><img src="../icons/icon1LogSingUpPage.svg" alt="" style="position: absolute; top: 66%; right: 500px; transform: translateY(-50%); cursor: pointer;">
                </div>
                <a href="#" class="forgot-password">Forget Password</a>
            </div>
            <div class="login-main">
                <a href="" class="login-button">
                    <p>Log In</p>
                </a>
                <p>or sign up with</p>
                <div class="appLogin">
                    <a href="">
                        <img src="../icons/icon2LogSingUpPage.svg" alt="Google Icon">
                    </a>
                    <a href="">
                        <img src="../icons/icon3LogSingUpPage.svg" alt="Facebook Icon">
                    </a>
                    <a href="">
                        <img src="../icons/icon4LogSingUpPage.svg" alt="Finger Print Icon">
                    </a>
                </div>
            </div>
            <div class="account">
                <p>Don't have an account?</p>
                <a href="">Sign Up</a>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>