<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Onboarding Screen 1</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="../icons/restaurante.svg" type="image/x-icon">
    </head>
    <body>
        <main>
            <section class="top">
                <p>skip</p>
                <img src="../icons/nextIcon.svg" alt="Next Arrow">
            </section>
            <section class="buttom">
                <img src="../icons/icon1OnboardingPage.svg" alt="Transfer Icon">
                <h2>Order for Food</h2>
                <p>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                <div class="sliders"></div>
                <a href="#">Next</a>
            </section>
        </main>
    </body>
</html>