<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set FingerPrint</title>
    <script type="module" src="../components/footer.js" defer></script>
    <link rel="shortcut icon" href="../icons/restaurante.svg" type="image/x-icon">
    <link rel="stylesheet" href="../styles/setFingerScreen.css">
</head>
<body>
    <header>
        <div class="login-header">
            <!-- 🔙 Botón de regreso -->
            <a href="">
                <img src="../icons/backIconArrow.svg" alt="Back Icon" class="back-icon">
            </a>
            <h3>Set Your Fingerprint</h3>
            <!-- 🌙 Icono de modo oscuro -->
            <a href="">
                <img src="../icons/darkModeIcon.svg" alt="Toggle Icon">
            </a>
        </div>
    </header>
    <main></main>
    <footer></footer>
</body>
</html>