<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"> <!-- 🔤 Codificación de caracteres para soportar caracteres especiales -->
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- 📱 Adaptación a dispositivos móviles -->
        
        <!-- 🏷️ Título de la pantalla de Onboarding -->
        <titles>Sign Up Screen</title>
    
        <!-- 🔖 Ícono del sitio web (favicon) -->
        <link rel="shortcut icon" href="../icons/restaurante.svg" type="image/x-icon">
    
        <!-- 🎨 Hoja de estilos principal -->
        <link rel="stylesheet" href="">
        <script type="module" src="../components/footer.js" defer></script>
    </head>
<body>
    <header></header>
    <main></main>
    <footer></footer>
</body>
</html>