<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Restaurante Mayorca de Medellín</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="../icons/restaurante.svg" type="image/x-icon">
    </head>
    <body>
        <main>
            <section class="middle">
                <img src="../imgs/image1Page2.png" alt="Yarn Logo">
                <div class="title">
                    <h1>YUM</h1>
                    <h1>QUICK</h1>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                <div class="buttons">
                    <a href="#">Log In</a>
                    <a href="#">Sign Up</a>
                </div>
            </section>
        </main>
    </body>
</html>