<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Restaurante Mayorca de Medellín</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="../icons/restaurante.svg" type="image/x-icon">
    </head>
    <body>
        <main>
            <section class="middle">
                <img src="" alt="">
                <div class="title">
                    <h1></h1>
                    <h1></h1>
                </div>
                <p></p>
                <div class="buttons">
                    <a href=""></a><a href=""></a>
                </div>
            </section>
        </main>
    </body>
</html>