@import url(./variables.css);

* {
    margin: 0; /* 🚫 Eliminación de margen */
    padding: 0; /* 🚫 Eliminación de relleno */
    box-sizing: border-box; /* 📦 Garantiza que el tamaño total incluya borde y relleno */
}