@import url(./variables.css);

/* 🌐 Reset de estilos: elimina márgenes y rellenos predeterminados */
* {
    margin: 0; /* 🚫 Eliminación de margen */
    padding: 0; /* 🚫 Eliminación de relleno */
    box-sizing: border-box; /* 📦 Garantiza que el tamaño total incluya borde y relleno */
}