:root {
    --color-1: #F5CB58;
    --color-2: #FF642F;
    --color-3: #F8F8F8;
    --color-4: #E95322;
    --color-5: #F3E9B5;
    --color-6: #391713;
    --color-7: #FFFFFF;
    --color-8: #252525;
    --color-9: #FFDECF;
    --color-10: #F5F5F5;
    --color-11: #E9F6FE;
    --color-12: #676767;
    --color-13: #F4BA1B;
    --color-14: #FFD8C7;
    --color-15: #FE4A0C31;
    --color-16: #9747FF;
    --color-17: #000000;
    --color-18: #D9D9D9;
    --color-19: #070707;
    --color-20: #FF9E74;
}

@font-face {
    font-family: "Inter";
    src: url();
}